#web{
    background-color: white;
    padding: 100px 15px;
}

#web h1{
    font-size: 4rem;
    font-weight: 600;
    font-style:italic;
    margin-bottom: 4rem;
}


#web h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
    text-transform: uppercase;   
}

#web .container p{
    display: inline-block;
    border-radius: 3px;
    color:#929294;
    font-size: 1.2rem;
    line-height: 1.7;
    text-decoration: none;
    text-transform:inherit;
    margin-top:-12px;

}

/*technilogies*/
#web .technologies{
    padding: 0;
    margin: 100px 0;
}
#web .icons .icon{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}
#web .technologies .icons{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 20px;
    align-items: center;
    text-align: center;
}
#web .technologies .icons img:hover{
    filter: grayscale(0);
}
#web .technologies .icons .icon img{
    width: 100%;
    max-width: 200px;
}

/*image file*/
#web h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

#web h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 100px;
    text-transform: uppercase;
}


/*button*/
#web .info .buttons{
    padding: 20px 0;
}

#web .info .buttons a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    color:white;
    background: black;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

#web .info .buttons .fas{
    color:#ff5253;
    margin-right: 10px;
}

#web .info .buttons a:hover{
    background: #ff5253;
}

#web .info .buttons a:hover .fas{
    color: #000;
}





/*tablet*/
@media only screen and (max-width: 960px){
    #web h1{
        font-size: 3rem;
        text-align: center;
    }
    #web p{
        font-size: 1rem;
    }
    #web h3{
        text-align: center;
    }
    #web .video iframe{
        width: 100% !important;
    }

}

/*Phones*/
@media only screen and (max-width: 767px){
    #web .info .buttons{
        text-align: center;
    }

    #web .info .buttons a{
        margin-bottom: 10px;
    }

    #web .technologies .icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}