<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="../../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
    <header>
        <nav>
          <div class="signature">
            <div class="logo">
              <a href="#" class="name"><span>Portfolio</span></a>
            </div>
          </div>
  
          <div class="navigation">
            <input type="checkbox" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="menu">
              <li><a href="#"><span>Home</span></a></li>
              <li><a href="#introduction-section"><span>Introduction</span></a></li>
              <li><a href="#project-section"><span>Project</span></a></li>
              <li><a href="#experience-section"><span>Experience</span></a></li>
              <li><a href="#summary-section"><spane>Summary</spane></a></li>
            </ul>
          </div>
        </nav>
      </header>

    <section id="web">
        <div class="container">
            <div class="project-image">
                <div class="img" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQahP8KdSO-tV3lDYllKTftXPTJ2H6UYlFevQ&usqp=CAU')"></div>
            </div>

            <h1>Web Application</h1>
            <div class ="info">
                <div class="buttons">
                    <a href="#"><i class="fas fa-solid fa-desktop"></i> View Project</a>
                    <a href="#"><i class="fas fa-solid fa-code"></i> View Code</a>
                </div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem temporibus non iure amet sunt, pariatur sit atque a officiis excepturi dolor maiores ab! Porro distinctio tenetur, expedita quod alias in.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem temporibus non iure amet sunt, pariatur sit atque a officiis excepturi dolor maiores ab! Porro distinctio tenetur, expedita quod alias in.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem temporibus non iure amet sunt, pariatur sit atque a officiis excepturi dolor maiores ab! Porro distinctio tenetur, expedita quod alias in.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem temporibus non iure amet sunt, pariatur sit atque a officiis excepturi dolor maiores ab! Porro distinctio tenetur, expedita quod alias in.</p>

            <div class="technologies">
                <h3>Technologies</h3>

                <div class="icons">
                    <div class="icon">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/flask-logo-png-transparent.png" style="width:45px">
                    </div>
                    <div class="icon">
                        <img src="https://www.docker.com/wp-content/uploads/2022/03/vertical-logo-monochromatic.png">
                    </div>
                    <div class="icon">
                        <img src="https://camo.githubusercontent.com/07a52f72326754e7fe182adce6b572f1fc2bea794916e8c75e249d9b171fd4f6/68747470733a2f2f61626f75742e6769746c61622e636f6d2f696d616765732f63692f6769746c61622d63692d63642d6c6f676f5f32782e706e67">
                    </div>
                    <div class="icon">
                        <img src="https://www.360techhub.io/public/uploads/service-50.png">
                    </div>
                </div>
            </div>

            <div class="video">
                <h3>Video Walkthrough</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/af5umzEYtoA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
    </section>

    <footer>
        <div class="social-container">
          <a href="https://www.linkedin.com/in/eunbiyoon0717/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="mailto:yinyinbei0717@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="tel:931-998-0957">
            <i class="fas fa-phone"></i>
          </a>
          <a href="https://github.com/EunbiYoon">
            <i class="fab fa-github"></i>
          </a>
  
        </div>
        <h5>Eunbi Yoon</h5>
        <h6>Software Developer</h6>
      </footer>

    <script src="/js/app.js"></script>
  </body>

